:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--dark-green);
    background: url('../festive-translator/blur-xmas.jpeg') no-repeat center fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:  center;
    position: relative;
    margin: 2em;
    flex-direction: column;
    min-width: 350px;
    min-height: 250px;
    max-width: 5ch;
    background: var(--dark-green);
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
     rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

h1 { 
    margin: 0;
    color: var(--snow);
}

.greeting-text {
    color: var(--snow);
    font-size: 30px;
    animation: textAnimate 2s;
}

@keyframes textAnimate {
    0% {
      transform: scale(0);
    }
  
    30% {
      transform: scale(1.4);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    60% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    85% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

select {
    height: 70px;
    width: 260px;
    border: 3px solid var(--dark-green);
    border-radius: 5px;
    padding: 0.2em 0.3em;
    font-size: 30px;
    color: var(--dark-green);    
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
     rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}